*{
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: lightgrey;
  font-family: mansalva;
}

h1{
  text-align: left;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
}

.stories {
  text-align: center;
  display: block;
}

.news {
  background-color: white;
  display: inline-block;
  overflow: hidden;
  max-width: 90%;
  margin: 1em 2em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: .5em;
  }

.news-lead {
  text-align: center;
}
.news-img {
  max-width: 100%;
  max-height: 100%;
}

.textleft{
  text-align: left;
  padding: 0 1em;
}

.newsbutton{
  display: block;
  text-align: center;
  background-color: royalblue;
  color: white;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination a {
  color: blue;
  float: left;
  padding: 2rem .3em;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: whitesmoke;}

@media screen and (min-width: 40rem) {
  body { 
    background-color: tomato;
    }
  
    .stories {
      text-align: center;
      display: grid;
      grid-template-columns: 50% 50%;
      font-size: 1.3em;
    }

}

@media screen and (min-width: 85rem) and (max-width: 138.5rem)  {
  body { 
    background-color: khaki;
    }
  
    .stories {
      text-align: center;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      font-size: 2em;
    }

}

@media screen and (min-width: 138.5rem)  {
  body { 
    background-color: black;
    }
  
    .stories {
      text-align: center;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      font-size: 2em;
    }

}